body {
  background: black;
  color: white;
  font-family: sans-serif;
}

.bot {
  background: #00FF00;
  border-radius: 50%;
  opacity: 0.7;
}

.glow {
  background: inherit;
  border: inherit;
  border-radius: inherit;
  bottom: 0;
  filter: blur(5px);
  left: 0;
  margin: -5px;
  position: absolute;
  right: 0;
  top: 0;
}

.item {
  background: #FFFF00;
  border-radius: 50%;
  opacity: 0.7;
}

.power-source {
  border: 5px dashed #00FF00;
}

.pulsating {
  animation: pulsate 3s ease-out;
  animation-iteration-count: infinite;
}

.target {
  border: 5px dashed #FFFF00;
}

@keyframes pulsate {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}
